<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Find me</h4>
                            <span>34, Halleshe Strasse, Wolfsburg, Germany-38444</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <!-- <div><fa-icon [icon]="facoffee"></fa-icon></div> -->
                        <div class="cta-text">
                            <h4>Call Me</h4>
                            <span>16091469529</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa-solid fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>gobikakrishna@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2018, All Right Reserved <a
                                href="https://github.com/Gobika-Krishna/Angular15-RecipeNote-POC/"
                                target="_blank">Gobika Krishna</a>
                        </p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Terms</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>