<div class="container-fluid home-conatiner">
    <app-banner></app-banner>
</div>

<div class="container-fluid">
    <!-- Marketing Icons Section -->
    <div class="row">
        <section>
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Recipe Book
                </h1>
            </div>
        </section>

        <div class="col-md-4">
            <section>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4> German Cuisine</h4>
                    </div>
                    <div class="panel-body">
                        <p>Whilst there are regional variations in food culture, most German recipes focus heavily on
                            bread, potatoes, and meat, especially pork, as well as plenty of greens such as types of
                            cabbage and kale.</p>
                        <a class="btn btn-default" routerLink="/recipes">Learn More</a>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="wow">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Indian Cuisine</h4>
                    </div>
                    <div class="panel-body">
                        <p>Traditional Indian food is renowned worldwide for its wonderful use of herbs and spices, and
                            its diverse range of deep-fried snacks, pastries, curries, gravies, sauces, rice dishes,
                            tandoor-cooked meats.</p>
                        <a class="btn btn-default" routerLink="/recipes">Learn More</a>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-4">
            <section class="wow">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Mexican Cuisine</h4>
                    </div>
                    <div class="panel-body">
                        <p>Mexican street food can include tacos, quesadillas, pambazos, tamales, huaraches, alambres,
                            al pastor, and food not suitable to cook at home, including barbacoa, carnitas.</p>
                        <a class="btn btn-default" routerLink="/recipes">Learn More</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- /.row -->
</div>

<app-carousel></app-carousel>

<div class="sectiona">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
            <h2>Wholesome Delights</h2>
            <p>"Nourishing Recipes for a Vibrant You"</p>
        </div>
        <div class="item">
            <h2>Nutrition on a Plate</h2>
            <p>"Culinary Creations for a Healthier You"</p>
        </div>
        <div class="item">
            <h2>Flavorful Wellness</h2>
            <p>"Satisfying Recipes for a Balanced Life"</p>
        </div>
    </div>

    <div class="sectionb">
        <div class="container">
            <div class="facontainer">
                <section>
                    <h2>Get in Touch</h2>
                </section>
                <section>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta.</p>
                </section>
            </div>
        </div>
    </div>
</div>